Django==1.9.2
djangorestframework==3.3.2
geopy==1.11.0
gunicorn==19.6.0
inflect==0.2.5
Jinja2==2.8
MarkupSafe==0.23
pyactiveresource==2.1.2
pytz==2016.10
PyYAML==3.11
requests==2.9.1
wcwidth==0.1.6
Werkzeug==0.11.3
